@model SystemBroni.Models.User

@{
    ViewData["Title"] = "Создать пользователя";
}

<div class="container mt-4">
    <hr/>
    <h2 class="text-center mb-4">✍ Создание пользователя</h2>
    <hr/>

    <div class="d-flex justify-content-center">
        <div class="card shadow-lg p-4 bg-white rounded">
            <form asp-action="Create" method="post">
                <div class="input mb-3">
                    <label class="form-label fw-bold">Имя</label>
                    <input asp-for="Name" class="form-control" placeholder="Введите имя" required/>
                </div>
                <div class="input mb-3">
                    <label class="form-label fw-bold">Почта</label>
                    <input asp-for="Email" class="form-control" type="email" placeholder="Введите email" required/>
                </div>
                <div class="input mb-3">
                    <label class="form-label fw-bold">Номер телефона</label>
                    <input asp-for="Phone" class="form-control" placeholder="Введите номер телефона" required/>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success px-4">✅ Создать</button>
                    <a href="@Url.Action("GetAll", "User")" class="btn btn-secondary px-4">❌ Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
