@model SystemBroni.Models.User

@{
    ViewData["Title"] = "Создать пользователя";
}

<h2>Создать пользователя</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Имя</label>
        <input asp-for="Name" class="form-control"  />
    </div>
    <div>
        <label>Почта</label>
        <input asp-for="Email" class="form-control" type="email"  />
    </div>
    <div>
        <label>Номер телефона</label>
        <input asp-for="Phone" class="form-control"  />
    </div>
    <button type="submit" class="btn btn-success">Создать</button>
    <a href="@Url.Action("GetAll", "User")" class="btn btn-secondary">Отмена</a>
</form>
