@model SystemBroni.Models.User

@{
    ViewData["Title"] = "Создать пользователя";
}

<h2>Создать пользователя</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control"/>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Отмена</a>
</form>
