@model IEnumerable<SystemBroni.Models.User>

@{
    ViewData["Title"] = "Список пользователей";
}

<h2>Список пользователей</h2>

<div>
    <a href="/User/Create" class="btn btn-success">Создать пользователя</a>
</div>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
