@model SystemBroni.Models.VipRoom

@{
    ViewData["Title"] = "Создать VIP-комнату";
}

<div class="container mt-4">
    <hr/>
    <h2 class="text-center mb-4">➕ Создать VIP-комнату</h2>

    <hr/>
    <div class="d-flex justify-content-center">
        <div class="card shadow-lg p-4 bg-white rounded">
            <form asp-action="Create" method="post">
                <div class="input mb-3">
                    <label class="form-label">Название</label>
                    <input type="text" name="Name" class="form-control" required/>
                </div>

                <div class="input mb-3">
                    <label class="form-label">Вместимость</label>
                    <input type="number" name="Capacity" class="form-control" required/>
                </div>



                <button type="submit" class="btn btn-success">✅ Создать</button>
                <a href="@Url.Action("GetAll")" class="btn btn-secondary">❌ Отмена</a>
            </form>
        </div>
    </div>
</div>
