@model dynamic

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<h2>Вход для администратора</h2>
Логин и пароль для администратора можно задавать через appsettings.json

<input type="text">
<input type="text">
