@{
    ViewData["Title"] = "Панель управления";
}

<h2 style="text-align: center;"> ⚙ Панель управления</h2><hr/>

<br/>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/User/GetAll" class="btn btn-primary">👤 Пользователи</a>
    <a href="/Table/GetAll" class="btn btn-success">🍽 Столы</a>
    <a href="/VipRoom/GetAll" class="btn btn-info">🏨 Vip Комнаты</a>
    <a href="/TableBooking/GetAll" class="btn btn-warning">📅 Бронирование Столов</a>
    <a href="/VipRoomBooking/GetAll" class="btn btn-warning">📅 Бронирование VIP Комнат</a>
</div>
<br/>

<div class="col-6 mx-auto">
    <a href="/Home/Index" class="btn btn-danger">Выйти на главную!</a>
</div>
